# Dependências
node_modules/

# Sessão do WhatsApp (MUITO IMPORTANTE)
.session/
.wwebjs_auth/
.wwebjs_cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.temp

# Build / cache
dist/
build/
.cache/

# Puppeteer / Chrome cache
chrome-profile/